.homePage {
  padding: 5rem;
}
.home__title {
  margin-bottom: 1.5rem;
  color: green;
}

.homePage__matrixBtn {
  display: block !important;
  margin-left: auto !important;
  margin-right: 3rem !important;
  font-size: 1.2rem !important;
  letter-spacing: 2px !important ;
}

/* tab screen 900px */
@media (max-width: 56.25em) {
  .home {
    padding: 5rem 10rem;
  }
}

/* phone screen 600px */
@media (max-width: 37.5em) {
  .home {
    padding: 2rem 5rem;
  }
}
