.countriesTableWrapper {
  position: relative;
}
.countriesTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin-bottom: 4rem;
}
/*set table header and cells propreties*/
.countriesTable td {
  border: 1px solid #ddd;
  font-size: 1.6rem;
  width: max-content;
  text-align: center;
  padding: 0.8rem;
}
/* set the width of the first column */
.countriesTable td:nth-child(n),
th:first-child {
  width: 2rem;
}
.countriesTable td:nth-child(n),
th:last-child {
  width: 2rem;
}
.countriesTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.countriesTable tr:hover {
  background-color: #ddd;
}

.countriesTable th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #255d83;
  color: white;
  font-size: 1.6rem;
  border: 1px solid #ddd;
  width: max-content;
}

.country_img {
  width: 3.5rem;
  height: 2.8rem;
}
.countriesTable__actions {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  border: 0 !important;
}
.countriesTable__input {
  border: none;
  width: 85%;
  background-color: transparent;
  padding: 0.4rem !important;
  font-size: inherit;
}

.countriesTable__spinner {
  width: 10rem !important;
  height: 30vh !important;
  margin: 4rem !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.countriesTable__addBtn {
  margin: 0 0 2rem 85% !important;
  font-size: 1.2rem !important;
  letter-spacing: 2px !important ;
}
