.matrix {
  border-collapse: collapse;
}
.matrix th {
  background-color: #255d83;
  color: white;
  font-size: 1.6rem;
  border: 1px solid black;
  width: 8rem;
  height: 5rem;
}
.matrix td {
  border: 1px solid black;
  font-size: 1.6rem;
  text-align: center;
  width: 8rem;
  height: 5rem;
  font-weight: 700;
}

.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 1px solid rgba(98, 155, 255, 0.85);
  border-radius: 0.15em;
}
.container {
  user-select: none;
}
