.countriesTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
/*set table header and cells propreties*/
.countriesTable td {
  border: 1px solid #ddd;
  padding: 0.8rem;
  font-size: 1.6rem;
  width: 10rem;
  text-align: center;
}
/* set the width of the first column */
.countriesTable td:nth-child(n),
th:first-child {
  width: 2rem;
}
.countriesTable td:nth-child(n),
th:last-child {
  width: 2rem;
}
.countriesTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.countriesTable tr:hover {
  background-color: #ddd;
}

.countriesTable th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #255d83;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  border: 1px solid #ddd;
}

.country_img {
  width: 3.5rem;
  height: 2.8rem;
}
.countriesTable__actions {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  border: 0 !important;
}
